project/.DS_Store
project/Library/AssetImportState
project/Library/AssetServerCacheV3
project/Library/FailedAssetImports.txt
project/Library/ScriptAssemblies
project/Library/ScriptMapper
project/Library/assetDatabase3
project/Library/cache
project/Library/expandedItems
project/Library/metadata
project/Library/previews
project/Library/guidmapper
project/Temp
*.csproj
*.pidb
*.sln